/* Estilos gerais */
body {
    margin: 0;
    font-family: Arial, sans-serif; 
    padding: 0;
    background: #343434;
}
header {
    background-color: #6359ed;
    color: ■#100f0f; 
    padding: 10px;
    text-align: center;
    
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 20px;
}


nav ul li a {
    color: #e2dfdf;
    text-decoration: none;
}

/* Estilos para os blocos de imagens */
.image-blocks {
    display: flex; 
    justify-content: space-between;
    padding: 20px;
    text-align: center;
}

.image {
    flex-basis: calc(33.33% - 20px); 
    text-align: center;
}
        
.image img {
        max-width: 100%;
}
        
.image p {
    margin-top: 10px;
}

    
.playlist { 
    text-align: center; 
    padding: 20px; 
}
    
/* Estilos para o rodapé */
    
footer {
    background-color: #6359ed;
    text-align: center;
    padding: 100px;
    color: #fffdfd; 
    justify-content:flex-end; 
    display:flex;
}

    
footer a { 
    color: #fff; 
    text-decoration: none; 
    margin: 0 10px;
}
    
/* Estilos para as redes sociais no rodapé */ 
.social-media { 
    display: flex; 
    align-items: center;
}
    
.social-media img {
     width: 20px; 
     height: 20px; 
     margin:  5px; 
     align-items: center;
    }
    
/* Estilos para os detalhes de contato no rodapé */
.contacts {
    text-align: left;
}

#increase-font-size { font-size: 1em;
}
#decrease-font-size { font-size: 1em;
}
#content { font-size: 1em;
}